{% extends "base.html" %}
{% block content %}
        <div class="main-content">
                {% for message in get_flashed_messages() %}
                        {% if "exist" in message %}
                        <div class="alert">{{ message }}. Go to <a href="{{ url_for('auth.login') }}">login page</a></div>
                        {% else %}
                        <div class="alert">
                                {{message}}
                        </div>
                        {% endif %}
                {% endfor %}
                <form style="margin: auto; display: block; width: 50%; padding-top: 2em;" method="POST">
                        {{ form.csrf_token() }}
                        <div class="form-outline mb-4">
                                {{ form.email.label }}
                                {{ form.email(class="form-control")}}
                        </div>
                        
                        <div class="form-outline mb-4">
                                {{ form.username.label }}
                                {{ form.username(class="form-control")}}
                        </div>
                        
                        <div class="form-outline mb-4">
                                {{ form.password.label }}
                                {{ form.password(class="form-control")}}
                        </div>

                        <div class="form-outline mb-4">
                                {{ form.passConfirm.label }}
                                {{ form.passConfirm(class="form-control")}}
                        </div>
                        {{form.submit(class="btn btn-primary btn-block mb-4")}}
                </form>
        </div>
{% endblock %}