.container {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


.auto-index td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: "Serial is: " counter(Serial); /* Display the counter */
}
